# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Environment variables
.env

# Virtual environments
venv/
env/
.venv/

# System files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
*.log